<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite">
<h:head></h:head>
<h:body>
	<composite:interface>
		<composite:attribute
			name="title"
			required="true"></composite:attribute>
	</composite:interface>
	<composite:implementation>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<h:outputText value="#{cc.attrs.title}"></h:outputText>
				</h3>
			</div>
			<div class="panel-body">
				<composite:insertChildren></composite:insertChildren>
			</div>
		</div>
	</composite:implementation>
</h:body>
</html>
