<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:bs="http://java.sun.com/jsf/composite/components">
<h:body>
	<ui:composition template="/layout.xhtml">
		<ui:define name="pagehelp">About this application</ui:define>
		<ui:define name="content">
			<bs:panel title="Links">
				<p>
					<a
						href="https://bitbucket.org/zeromancer1972/ics.ug-bluemix-demo"
						target="_blank">Fork me here</a>
				</p>
				<p>
					<a
						href="http://www.notesx.net/postgres.nsf/index.xsp"
						target="_blank">Edit the data here</a>
				</p>
			</bs:panel>
		</ui:define>
		<ui:define name="rightcol">
			<bs:panel title="What?">
				<h:graphicImage
					library="images"
					name="evil-cloud.jpg"
					style="width:100%" />
			</bs:panel>
		</ui:define>/>
	</ui:composition>
</h:body>
</html>