<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:bs="http://java.sun.com/jsf/composite/components">
<h:body>
	<ui:composition template="/layout.xhtml">
		<ui:define name="pagehelp">This application accesses data from a PostgeSQL database</ui:define>
		<ui:define name="content">
			<bs:panel title="Data">
				<h:dataTable value="#{namesSql.getResult()}" var="entry"
					styleClass="table table-bordered table-hover table-striped">
					<h:column>
						<f:facet name="header">
								Firstname
							</f:facet>
						<h:outputText value="#{entry.firstname}" />
					</h:column>
					<h:column>
						<f:facet name="header">
								Lastname
							</f:facet>
						<h:outputText value="#{entry.lastname}" />
					</h:column>
					<h:column>
						<f:facet name="header">
								ID
							</f:facet>
						<h:outputText value="#{entry.id}" />
					</h:column>
				</h:dataTable>
			</bs:panel>
		</ui:define>
		<ui:define name="rightcol">
			<bs:panel title="&quot;Computer says no.&quot;">
				<h:graphicImage library="images" name="computersaysno.jpg"
					style="width:100%" />
			</bs:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>