<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="shortcut icon" href="" />
	<title><h:outputText value="#{initParam['appTitle']}"></h:outputText>
	</title>
	<!-- Bootstrap core CSS -->
	<link
		href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css"
		rel="stylesheet" />
	<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
	<script type="text/javascript"
		src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript"
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</h:head>
<h:body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.xhtml"> <h:outputText
					value="#{initParam['appTitle']}"></h:outputText>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<ui:repeat var="nav" value="#{navigator.items}">
					<li class="#{navigator.active(nav.url)}"><h:outputLink
							value="#{nav.url}" target="#{nav.newWindow ? '_blank' : ''}">
							<h:outputText value="#{nav.label}"></h:outputText>
						</h:outputLink></li>
				</ui:repeat>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	</nav>
	<div class="pagehelp">
		<div class="container">
			<p>
				<ui:insert name="pagehelp"></ui:insert>
			</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<ui:insert name="content"></ui:insert>
			</div>
			<div class="col-sm-4">
				<ui:insert name="rightcol"></ui:insert>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-inverse navbar-fixed-bottom"
		role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#navbar-bottom">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar-bottom" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a data-toggle="modal" data-target="#about" href="#">©
						2014-#{navigator.year} Oliver Busse</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	</nav>

	<div class="modal fade" id="about">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">About</h4>
				</div>
				<div class="modal-body">
					<p>Made with love and IBM Websphere Software</p>
					<p>
						<a href="http://oliverbusse.com" target="_blank">Visit my
							homepage</a>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</h:body>
</html>
